h1 {
    font-size: 50px;
    color: orange;
}

.pointer {
    display: block;
    background-color: darkmagenta;
    height: 100px;
    width: 100px;
    border-top-left-radius: 55px 25px;
    border-top-right-radius: 55px 25px;
    border-bottom-right-radius: 55px 25px;
    border-bottom-left-radius: 55px 25px;
}